{% extends "./_base.html" %}
{% load i18n %}

{% block content %}
<form action="." method="post">
    {% csrf_token %}
    <div class="indexform" >
        <span style="vertical-align: middle;">
        <label style="width: 100px;">{% trans "username:" %}</label>
        <select class="user_item" name="userDrop" id="userDrop" required>
            <option value="">----</option>
            {% for user in users %}
            <option value="{{user.id}}" {% if user.id == t_user %} selected {% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
            {% endfor %}
        </select>
        <label style="padding-left: 25px;">{% trans "target_month:" %}</label>
        <input class="year_item" type="number" name="yearNumber" id="yearNumber" value="{{t_year}}" max="9999" required/>/      
        <input class="month_item" type="number" name="monthNumber" id="monthNumber" value="{{t_month}}" max="12" required/>
        <button class="btn_entry" type="submit" name="entryButton" >{% trans "change" %}</button>
        </span>
    </div>
    <div class="printform">
        <label style="width: 100px;">{% trans "username:" %}</label>
        {% for user in users %}
            {% if user.id == t_user %} 
            <label style="border-bottom: black;">{{ user.first_name }} {{ user.last_name }}</label>
            {% endif %}
        {% endfor %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label >{% trans "target_month:" %}</label>
        <label >{{t_year}}/{{ t_month|stringformat:"02d"}}</label>
    </div>
</form>
<div style="height: 5px;"></div>
{% endblock %}
